/* General styles */
* {
    font-family: "Open Sans";
    margin: 0;
    margin-block: 0;
    padding: 0;
    box-sizing: border-box
}
html, body {
    height: 100%;
}
img {
    width: 100%;
}
.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Header */
header {
    background-color: #0D0C19;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
.header-menu{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 80px;
}
.header-logo {
    width: 150px;
}
.header-menu-nav, .header-menu-nav a {
    align-items: center;
    color: #ffffff!important;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-weight: 600;
    gap: 32px;
    list-style: none;
    text-decoration: none;
}
.header-menu-nav li, .header-logo{
    transition: 0.2s;
}
.header-menu-nav li:hover, .header-logo:hover{
    opacity: 50%;
    text-decoration: underline;
}
.header-menu-searchbar {
    border: solid white 3px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 4px 8px 4px 16px;
}
.header-menu-searchbar input {
    background-color: transparent;
    border: none;
    color: white;
    font-family: "Open Sans";
    font-size: 12px;
    outline: none;
    width: 200px;
}
.header-menu-searchbar input:focus {
    border: none;
    outline: none;
}
.header-menu-searchbar-icon {
    width: 24px;
}

/* Home */
.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100% - 65px);
}
.home-container {
    margin: 70px 0px;
    width: 1200px;
}
.home-welcome{
    margin-top: 130px;
    position: relative;
    border: solid 2px #0CC25B;
    border-radius: 24px;
    padding: 120px 60px;
    text-wrap: wrap;
}
.home-text {
    color:#0D0C19;
    font-family: "Open Sans";
    width: 700px;
}
.home-text h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 48px;
    margin-bottom: 30px;
}
.home-text p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 36px;
    width: 500px;
}
.home-button {
    background-color: #0CC25B;
    border: none;
    border-radius:6px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 0;
    text-align: center;
    width: 300px;
    transition: 0.5s;
}
.home-button:hover{
    background-color: #0D0C19;
}
.home-image {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 630px;
}

/* Footer */
footer {
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.footer-text {
    font-weight: bold;
    font-size: 12px;
    width: fit-content;
}